<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.spotyourtrain\.info [NC]
RewriteRule ^(.*)$ http://spotyourtrain.info/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ index.php?page=$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^search/([^/]+)$ search.php?$1 [QSA,L]


RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^train/([^/]+)/([^/]+)$ index.php?page=train&tno=$1&tname=$2 [L]

</IfModule>
